.ui-wrap {
    width: 500px;
    padding: 20px;
    margin: auto;
}

.group-title {
    font-weight: bold;
}

.error-message {
    background-color: #faa;
    color: #f00;
}

.hint {
    text-align: right;
}

.currency-block {
    width: 40px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    border-width: 1px 0 1px 1px;
    border-color: #666;
    border-style: solid;
    border-radius: 3px 0 0 3px;
}

.tilde-block {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border-width: 1px 0;
    border-color: #666;
    border-style: solid;
}

.input-container {
    display: flex;
}

.age-price-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

table {
    border-collapse: collapse;
    border: none;
}

td {
    padding: 0;
}

input {
    height: 35px;
    padding: 0 0 0 8px;
    border: 1px solid #666;
    border-radius: 0 3px 3px 0;
}

input:focus-visible {
    border: 1px solid #666;
    outline: none;
}

select {
    width: 100px;
    height: 37px;
    padding-left: 8px;
    border: 1px solid #666;
}

.left-age-selector {
    border-radius: 0 3px 3px 0;
}

.right-age-selector {
    border-radius: 3px 0 0 3px;
}

select:focus-visible {
    border: 1px solid #666;
    outline: none;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: #00f;
    font-weight: bold;
}

.add-icon {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.add-string {
    font-size: 16px;
    padding-left: 5px;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: #f00;
    font-weight: bold;
}

.delete-string {
    font-size: 16px;
    padding-left: 5px;
}

.delete-icon {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
